{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post" style=" margin-left:0px;padding-top: 5px; padding-left: 20px; padding-right: 20px; padding-bottom:15px; display:flex;">
            {% if post.even %}
            <div>
               
            <h1 style="color: #fdec00;"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p ><a href="{% url 'post_detail' pk=post.pk %}">{{ post.text|linebreaksbr }}</a></p>
            <div class="date" style="margin-top: 20px;
			 color: #fdec00;">
                Post DATE: {{ post.published_date }}
            </div>
            <div class="date" style=" margin-top: 10px;
			 color: #fdec00;">
                AUTHOR: {{ post.author }}
            </div>
        </div>
            <img src="https://image.freepik.com/free-vector/_27088-19.jpg" height="600" width="600">
            {% else %}
            <img src="https://image.freepik.com/free-vector/_27088-19.jpg" height="600" width="600">
            <div>
               
                <h1 style="color: #fdec00;"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p ><a href="{% url 'post_detail' pk=post.pk %}">{{ post.text|linebreaksbr }}</a></p>
                <div class="date" style="margin-top: 20px;
                 color: #fdec00;">
                    Post DATE: {{ post.published_date }}
                </div>
                <div class="date" style=" margin-top: 10px;
                 color: #fdec00;">
                    AUTHOR: {{ post.author }}
                </div>
            </div>
            {% endif %}  
        </div>
     
    {% endfor %}
{% endblock %}